* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main {
    background: url("../img/main-bg.png") repeat;
    background-size: cover;
    height: 100vh;
    background-size: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mincraft_logo {
    background: url("../img/logo.png") no-repeat center center/cover;
    width: 100%;
    height: 300px;
    background-size: 50%;
}

.start_btn {
    background: white;
    padding: 5px 10px;
    border-radius: 2px;
    color: black;
    cursor: pointer;
}

.start_btn a h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.mincraft_container {
    display: flex;
}

.world {
    width: 90%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.sidebar {
    width: 10%;
    background: #333;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.box {
    color: gray;
    background: skyblue;
}
.box:hover{
    opacity: .9;
}

.cloud {
    background: ghostwhite;
    width: 100%;
    height: 100%;
}

.grass {
    background: url("../img/grass.png") repeat center center/cover;
    width: 100%;
    height: 100%;
}

.trunk {
    background: url("../img/trunk.png") repeat center center/cover;
    width: 100%;
    height: 100%;
}

.rock {
    background: url("../img/rock.png") repeat center center/cover;
    width: 100%;
    height: 100%;
}

.earth {
    background: url("../img/earth.png") repeat center center/cover;
    width: 100%;
    height: 100%;
}
.tools{
   display: flex;
   flex-direction: column;
   height: calc(100% - 10px);
   justify-content: center;
   align-items: center;
}
.tool {
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: 1px solid white;
    color: white;
    margin-bottom: 5px;
    background-repeat: repeat;
    background-size: cover;
}
.pickaxe {
    background: url("../img/pickaxe.png")no-repeat center center/cover;
}

.shovel {
    background: url("../img/shovel.png") no-repeat center center/cover;
}

.axe {
    background: url("../img/axe.png") no-repeat center center/cover;
}

.current_inventory{
    width: 100%;
    height:50px;
    cursor: pointer;
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

.restart{
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

@media only screen and (max-width: 670px) {
    .mincraft_container {
        flex-direction: column;
        height: 100vh;
    }

    .world {
        width: 100%;
        height: 75vh;
    }

    .sidebar {
        width: 100%;
        height: 25vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .tool, .current_inventory{
        width: 60px;
    }
}